SaveData/*
ExampleScripts/.ipynb_*
MiscScripts/
server_datadir/*
server_workdir/*
sphinx_docs/.DS_Store
sphinx_docs/build/.DS_Store
sphinx_docs/build
*/.DS_Store
sphinx_docs/build/.DS_Store
sphinx_docs/.DS_Store
ExampleScripts/cif_composition_simulations.ipynb
*.pyc
*.bak*
*.lst
*.zip
app/GenerateJson.py
app/sample.json
app/sample2.json
app/calculator_report*
ExampleData/Example08A/TextureCorrection/
ExampleData/CompositionCalculations/*
ExampleData/Example01A/Diagnostic/*
ExampleData/Example03A/Diagnostic/*
ExampleData/Example05/Diagnostic/*
ExampleData/Example07A/Diagnostic/*
ExampleData/Example08A/Diagnostic/*
ExampleData/InstrumentParameter/Diagnostic/*
stan_files/*.exe
stan_files/*.hpp
stan_files/multiple_samples-*
stan_files/one_sample-*
stan_files/multiple_samples
stan_files/one_sample
