*.pyc
*.bak*
*.lst
*/.DS_Store
app/GenerateJson.py
app/sample.json
app/sample2.json
ExampleData/CompositionCalculations/*
ExampleData/Example01A/Diagnostic/*
ExampleData/Example03A/Diagnostic/*
ExampleData/Example05/Diagnostic/*
ExampleData/Example07A/Diagnostic/*
ExampleData/Example08A/TextureCorrection/
ExampleScripts/.ipynb_*
ExampleScripts/cif_composition_simulations.ipynb
MiscScripts/
SaveData/*
server_datadir/*
server_workdir/*
sphinx_docs/.DS_Store
sphinx_docs/build/.DS_Store
sphinx_docs/build
sphinx_docs/build/.DS_Store
sphinx_docs/.DS_Store
stan_files/.*exe
stan_files/.*hpp
stan_files/multiple_samples-29July2022
stan_files/one_sample-29July2022
