SaveData/*
ExampleScripts/.ipynb_*
MiscScripts/
server_datadir/*
server_workdir/*
*.pyc

sphinx_docs/.DS_Store
sphinx_docs/build/.DS_Store
sphinx_docs/build
*/.DS_Store
sphinx_docs/build/.DS_Store
sphinx_docs/.DS_Store
ExampleScripts/cif_composition_simulations.ipynb
