<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Austenite Calculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.32.0/plotly.min.js" integrity="sha512-Aw/O5tGIneAFOqDUyrKBgoMFuUnM8AN+JIYAeG0anjDbCRCeyTY6S41Kvnp07K1pz7HSUNYe/a+a/Ub9raDHXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/13.0.3/math.js" integrity="sha512-lAVGwhTndbBUjJlN0Lq4BNuOP0lpuGA9OUCA9bxRZrsehpmkiv8BcYdp91ON3XqJHWmVURGTw1d1W3LCr1k/1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>  
mark {
  background-color: magenta;
  color: black;
}
</style>
</head>


<body>



  <div class="container-fluid">
    <br>
    <h1>Austenite Calculator</h1>
    <h5><mark>Alpha release: feature-incomplete and may contain errors.  Use with caution and/or external validation.</h5></mark>
    <br>
    <ul class="nav nav-tabs">

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#about-tab">About</button>
      </li>

      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" type="button" href="#data-upload-tab">Data Upload</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#intensity-plots-tab" id="intensity-plots-tab-button">Intensity Plots</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#normalized-int-tab">Normalized Intensity</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#phase-frac-tab">Phase Fraction</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#crystallites-illuminated-tab">Crystallites Illuminated</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#file-creation-instrpm-json-tab">File Creation (instprm and json)</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#error-tab" id="error-tab-button">Error Log</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" type="button" href="#download-results-tab">Download Results</button>
      </li>

    </ul>

    <div class="tab-content">
      <!-- About Tab -->
      <div class="tab-pane" id="about-tab">
        <br>
        The Austenite Calculator is a web based application to quantify phase fractions and associated uncertainties.
        <br>
        <h4>Version Summary (Only populated after running analysis)</h4>
        <div class="row">
          <table id="version-table" class="table" style="white-space:nowrap"></table>
        </div>
        <h4>Manual and User Guide </h4>
        Follow the link to the <a href="/sphinx_docs/build/html/index.html"> manual and user guide </a>.
      </div>



      <!-- Data Upload Tab -->
      <div class="tab-pane container active" id="data-upload-tab">
        <br>
        <div class="row">

          <span class="border-start">
          <h4>Step 1: Data Selection</h4>
          <p>Use the buttons below to upload your .xrdml and .instprm files. Alternatively, select one of the "Use Example Files" options below to see the results from an example set of files.</p>

          <div class="col-6">
            <h5>Option 1: Upload Custom Files</h5>

            <div class="mb-3">
              <label for="xrdml-files" class="form-label">X-Ray Diffraction File (.csv, .xrdml, etc.)</label>
              <input type="file" class="form-control" id="xrdml-files" accept=".csv, .xrdml" multiple>
            </div>

            <div class="mb-3">
              <label for="instprm-file" class="form-label">Instrument Parameter File (.instprm)</label>
              <input type="file" class="form-control" id="instprm-file" accept=".instprm">
            </div>

            <div class="mb-3">
              <label for="cif-file" class="form-label">Crystallographic Information Files (.cif)</label>
              <input type="file" class="form-control" id="cif-file" accept=".cif" multiple>
            </div>

            <div class="mb-3">
              <label for="cryst-illum-file" class="form-label">Crystallites Illuminated JSON (.json) - see \'File Creation\' Tab</label>
              <input type="file" class="form-control" id="cryst-illum-file" accept=".json">
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="sum_checkbox" name="sum_checkbox">
              <label class="form-check-label" for="sum_checkbox">Sum Individual Files?</label>
            </div>

            <h5>Option 2: Use Example Files</h5>

            <div class="form-check">
              <input type="radio" class="form-check-input" id="radio1" name="default-file-radio" value="uploaded_files" checked>
              <label class="form-check-label" for="radio1"> Use Files Uploaded from Option 1</label>
            </div>

            <div class="form-check">
              <input type="radio" class="form-check-input" id="radio2" name="default-file-radio" value="Example01">
              <label class="form-check-label" for="radio2">Example 01 (Single Sample)</label>
            </div>

            <div class="form-check">
              <input type="radio" class="form-check-input" id="radio3" name="default-file-radio" value="Example02">
              <label class="form-check-label" for="radio3">Example 02 (Multiple Samples)</label>
            </div>

<!-- Commented out for now-->
<!--            <div class="form-check">-->
<!--              <input type="radio" class="form-check-input" id="radio4" name="default-file-radio" value="Example03-single">-->
<!--              <label class="form-check-label" for="radio3">Example 03 (Single XRD)</label>-->
<!--            </div>-->

<!--            <div class="form-check">-->
<!--              <input type="radio" class="form-check-input" id="radio5" name="default-file-radio" value="Example99">-->
<!--              <label class="form-check-label" for="radio4">Example 99 (Testing)</label>-->
<!--            </div>-->

            <br>
          </div>
          </span>
        </div>

        <br>
        
        <!-- CHECK where do these values get passed? -->
        <div class="row">
          <span class="border-start">
          <h4>Step 2: Statistical Inference Options</h4>
          <div class="col-6">
            <label for="num-mcmc" class="form-label">Number of MCMC samples:</label>
            <select class="form-select" id="num-mcmc">
              <option>1000 (Testing Only)</option>
              <option>4000</option>
              <option>8000</option>
            </select>
          </div>
          </span>
        </div>


        <br>

        <span class="border-start">
        <div class="row">

          <div class="col-6">

            <h4>Step 3: Submit</h4>
            <p>When your data selections have been made, click the button below to run the analysis.</p>

          </div>
        </div>

        <br>

        <div class="row">

          <div class="col-1">
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
          </div>

          <div class="col-6">
            <div id="loading-indicator" style="display:none">
              <div class="d-flex align-items-center">
                Running Submission... Please wait while results are computed... &nbsp; &nbsp;
                <div class="spinner-border ml-auto" role="status"></div>
              </div>
            </div>
          </div>
        </div>

      </span>

        <br>
        <br>
      </div>

        <!-- Intensity Plots Tab -->
      <div class="tab-pane" id="intensity-plots-tab">

        <br>
        <h4>Raw and Fitted Diffraction Data</h4>
        <div class="col-2">
          <label for="intensity-plots-dataset-select" class="form-label">Which Dataset</label>
            <select class="form-select" id="intensity-plots-dataset-select">
            </select>
        </div>

        <div class="row">
          <div class="col-5">
            <div id='raw-intensity-plot'></div>
          </div>

          <div class="col-5">
            <div id='fitted-intensity-plot'></div>
          </div>
        </div>
        <!--  CHECK - is this the best placement, or should this go on another tab? -->
        <br>
        <h4>Notes for User on Austenite Calculation</h4>
        <div class="row">
          <table id="user-flags-table" class="table" style="white-space:nowrap"></table>
        </div>

      <br>
      <br>
      <br>

      </div>
      <!-- Normalized Intensity Tab -->
      <div class="tab-pane" id="normalized-int-tab">

        <h2>Normalized Intensities</h2>
        <div class="col-2">
          <label for="normalized-intensity-plots-select" class="form-label">Which Dataset</label>
            <select class="form-select" id="normalized-intensity-plots-select"></select>
        </div>

        <br>
        <h4>Normalized Intensities per Peak Plot</h4>
        <div class="row">
          <div id='normalized-intensities-plot'></div>
        </div>

        <br>
        <h4>Fit Values per Peak Summary Table</h4>
        <div class="row">
          <table id='Fit-n-int-table' class="table" style="white-space:nowrap"></table>
        </div>

        <br>
        <h4>Calculated Theoretical Intensities per Peak</h4>
        <div class="row">
          <table id='Theo-Int-table' class="table" style="white-space:nowrap"></table>
        </div>

      </div>

      <!-- Phase Fraciton Tab -->
      <div class="tab-pane" id="phase-frac-tab">

        <h2>Phase Fraction</h2>
        <div class="col-2">
          <label for="phase-fraction-plots-dataset-select" class="form-label">Which Dataset</label>
            <select class="form-select" id="phase-fraction-plots-dataset-select"></select>
        </div>

        <br>

        <div class="row">
          <div class="col-3">
          <h6>Choose Units to Display Phase Fraction Histogram:</h6>
          <select class="form-select" aria-label="Default select example" id="conversion-select">
            <option selected value="1">Number of Unit Cells</option>
            <option value="2">Mass Fraction</option>
            <option value="3">Volume Fraction</option>
          </select>
          </div>
        </div>

        <br>
        <div class="row">
          <h4>Phase Fraction Values (select units)</h4>
          <table id="pf-table" class="table" style="white-space:nowrap"></table>
        </div>

        <br>
        <div class="row">
          <h4>Phase Fraction Histogram (select units)</h4>
          <div id="phase-fraction-plot"></div>
        </div>

        <br>

        <div class="row">
          <h4>Sources of Uncertainty (scaled by normalized intensity)</h4>
          <table id="uncert-table" class="table" style="white-space:nowrap"></table>
        </div>

        <div class="row">
          <h4>Sources of Uncertainty (per peak, Exponential Notation)</h4>
          <table id="uncert-peak-table" class="table" style="white-space:nowrap"></table>
        </div>

      </div>


  <!-- PLACE FOR CRYSTALLITES ILLUMINATED -->
      <div class="tab-pane" id="crystallites-illuminated-tab">

        <br>

        <div class="col-2">
          <p>Select Dataset:</p>
          <label for="cryst-illum-select-dataset" class="form-label">Which Dataset</label>
          <select class="form-select" aria-label="Select Dataset:" id="cryst-illum-select-dataset">
          </select>
          <br>

        <div class="row">
          <h4>Interaction Volume Table</h4>
          <table id="interaction-volume-table" class="table" style="white-space:nowrap"></table>
        </div>


          <p>Select Peak Index</p>
          <select class="form-select" aria-label="Select Peak:" id="cryst-illum-select-peak-index">
          </select>
          <br>
        </div>

        <br>
        <div class="row">
          <h4>Z Depth Histogram Plot</h4>
          <div id="z-depth-histogram-plot"></div>
        </div>

        <br>
        <div class="row">
          <h4>Incident Angle Plot</h4>
          <div id="incident-angle-plot"></div>
        </div>

          <!--<p>Select Phase:</p>
          <select class="form-select" aria-label="Select Phase:" id="cryst-illum-select-phase">
          </select>
          <br>  No longer select phase -->

        <!-- <div id="cryst-illum-table-div"></div>  -->

      </div>

      <!-- Combined file creation tab -->
      <div class="tab-pane" id="file-creation-instrpm-json-tab">
        <br>
        <h5> Crystallites Illuminated JSON File Creation </h5>
        <div class="container">
          <div class="row mb-3">
            <div class="col-4">
              <label for="json-austenite">Austenite Values</label>
              <input class="form-control" type="text" id="json-austenite" value="10,20,50">
            </div>
            <div class="col-4">
              <label for="json-ferrite">Ferrite Values</label>
              <input class="form-control" type="text" id="json-ferrite" value="10,20,50">
            </div>
            <div class="col-4">
              <label for="json-beam-shape">Beam Shape</label>
              <input class="form-control" type="text" id="json-beam-shape" value="circle">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-4">
              <label for="json-beam-size">Beam Size (mm)</label>
              <input class="form-control" type="text" id="json-beam-size" value="1">
            </div>
            <div class="col-4">
              <label for="json-raster-x">Raster X (mm)</label>
              <input class="form-control" type="text" id="json-raster-x" value="4">
            </div>
            <div class="col-4">
              <label for="json-raster-y">Raster Y (mm)</label>
              <input class="form-control" type="text" id="json-raster-y" value="4">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-4">
              <label for="json-sample-displacement">Sample Displacement (um)</label>
              <input class="form-control" type="text" id="json-sample-displacement" value="0">
            </div>
            <div class="col-4">
              <label for="json-l">L (mm)</label>
              <input class="form-control" type="text" id="json-l" value="265">
            </div>
            <div class="col-4">
              <label for="json-wf">W_F (mm)</label>
              <input class="form-control" type="text" id="json-wf" value="1">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-4">
              <label for="json-hf">H_F (mm)</label>
              <input class="form-control" type="text" id="json-hf" value="1">
            </div>
            <div class="col-4">
              <label for="json-hr">H_R (mm)</label>
              <input class="form-control" type="text" id="json-hr" value="70">
            </div>
          </div>

        <p>Variables:</p>

        <ul>
            <li>Austenite Values (comma separated):
                <ul>
                <li> The powder size in micrometers (um).
                <li> The number of crystallites per particle.
                <li> Rocking angle of a crystal (degrees).
                <li> Optional: List of texture correction values (MRD). <b> Not currently supported, add after downloading</b>
                </ul>
            </li>
            <li>Ferrite Values (comma separated):
                <ul>
                <li> The powder size in micrometers (um).
                <li> The number of crystallites per particle.
                <li> Rocking angle of a crystal (degrees).
                <li> Optional: List of texture correction values (MRD).<b> Not currently supported, add after downloading</b>
                </ul>
            </li>
            <li> beam_shape: Shape of the aperature of the incident x-ray. Options are "square" and "circle"</li><br>
            <li> beam_size: Size of the aperature (mm). Diameter for circular beams, edge length for square beams. Currently does not account for beam divergence.</li>
            <li> raster_x: Oscillation length in the diffractometer x direction (mm). If the sample is oscillated at a rate signficantly greater than the scan increment rate, the raster area defines the illuminated volume instead of the beam_size.</li>
            <li> raster_y: Oscillation length in the diffractometer y direction (mm). If the sample is oscillated at a rate signficantly greater than the scan increment rate, the raster area defines the illuminated volume instead of the beam_size.</li><br>
            <li> sample_displacement: distance (um) the sample surface is displaced from the focus center of the x-ray system.</li>
            <li> L: Sample to x-ray source distance (mm).  Currently assumes that the sample to detector distance is equivalent.</li>
            <li> W_F: Apparent width of the x-ray tube focus (mm). As these are often described as the slit width, they should be the same or similar to the the beam_size dimension.</li><br>
            <li> H_F: Height of the x-ray tube focus (mm). As these are often described as the slit height, they should be the same or similar to the the beam_size dimension.</li>
            <li> H_R: The smallest of either the height of the receiving slit or detector window (mm). For 2D detectors, H_R can often be calculated from the gamma term via the equation H_R=gamma*L.</li>
        </ul>

        <br>
        <button type="button" class="btn btn-primary" id="button-download-json">Download File</button>
        </div>
        
        <h5> Instrument Parameter File Creation </h5>
        <b> Instrument file creation not currently supported </b> 
        
        
      </div>

    <!-- Download Results Tab -->
    <div class="tab-content">
      <div class="tab-pane" id="download-results-tab">
        <br>
        <p>
          Click the button below to download the results once the analysis has been completed. The results will then
          be downloaded as a .zip file in the form several Python pickle files.
        </p>

        <a href="/download">
          <button type="button" class="btn btn-primary">Download Results</button>
        </a>

      </div>
    </div>

      <!-- Error tab -->
      <div class="tab-pane" id="error-tab">
        <div>
          <br>
          <h4>Error log:</h4>
          <ul id="error-list">

          </ul>
        </div>
        
        <h4>Server Log:</h4>
        <div style="overflow-y:scroll; height:500px">
        <pre id="server-logs">

        </pre>
        </div>
      </div>
    </div>

  </div>

  <script src="/static/js/create_plots.js"></script>
  <script src="/static/js/create_tables.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/aux_file_downloads.js"></script>
  <script src="/static/js/pf_conversion_and_sample_reactivity.js"></script>

</body>

</html>
